<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="FileTransferService1.FileTransferService1">
                <endpoint address="FileTransferService1" binding="netTcpBinding"
                    bindingConfiguration="" contract="FileTransferService1.IFileTransferService1" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8081" />
                        <add baseAddress="net.tcp://localhost:8091" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="FileTransferService1.File, FileTransferService1, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null">
          <knownType type="FileTransferService1.File, FileTransferService1, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null"/>
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
</configuration>