
.companies-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.25rem;
    max-width: initial;
}

.companies-grid__item{
    padding: 0 .25rem;
    max-width: 50%;
    flex: 1 0 50%;
}

@media (min-width: 768px) {
    .companies-grid__item{
        max-width: 33.33333%;
        flex: 1 0 33.33333%;
    }
}

@media (min-width: 1024px) {
    .companies-grid__item{
        max-width: 25%;
        flex: 1 0 25%;
    }
}

@media (min-width: 1280px) {
    .companies-grid__item{
        max-width: 20%;
        flex: 1 0 20%;
    }
}



