BODY, TD, A {
	font-family:Tahoma;
	font-size:12px;
	color:#336699;
	margin:0px;
}

th
{
    font-size:12px;
    font-weight: bold;
    text-align: left;
}

h1
{
    margin:0px;
    margin-top:7px;
    padding:0px;
    font-size:18px;
    text-align:left;
    padding-bottom:12px;
}

h2
{
    margin:0px;
    margin-top:7px;
    padding:0px;
    font-size:14px;
    text-align:left;
    font-weight:bold;
    color:Gray;
    padding-bottom:12px;
}


input[type='submit']
{
    border-style: solid;
    border-color: #000066;
    border-width: 1px;
    background-color: #EEEEEE;

}

#page-head
{
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#page-content
{
    line-height:140%;
    text-align:left;
    margin-left: 10px;
    margin-right: 10px;
}

#page-footer
{
    font-size: 7pt;
    font-weight: bold;
    color: #BBBBBB;
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    text-align: center;
}

.validationsummary
{
    color: red;
}