<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movie Create or Update</title>
</head>
<body>

<form action="#" th:action="@{/addMovie}"
      th:object="${movie}" method="
">
    <div>
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Title">
    </div>
    <div>
        <label for="date">Date</label>
        <input type="text" th:field="*{date}" id="date" placeholder="Date">
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" th:field="*{author}" id="author" placeholder="Author">
    </div>
    <div>
        <label for="genre">Genre</label>
        <input type="text" th:field="*{genre}" id="genre" placeholder="Genre">
    </div>
    <input type="submit" value="Add Movie">

</form>

</body>
</html>